@use '../../scss/reset';
@import '../../scss/var';
@import '../../scss/basicElements';

$side: 40px;

nav#navigation{
    width: 100vw;
    background-color: $color_three;
    padding: 8px;
    box-shadow: 0 0 4px $color_two;
    
    ul{
        display: flex;
        justify-content: space-between;
        list-style: none;

        li{
            img#logo{
                width: $side;
                height: $side;
                transition: all 0.4s ease-in-out;
                cursor: pointer;

                &:hover{
                    filter: drop-shadow(0 0 4px $color_two);
                }
            }

            button{
                @extend %button;
                padding: 0;
                background-color: $color_one;
                color: $color_three;

                svg{
                    display: grid;
                    place-items: center;
                    width: $side;
                    height: $side;
                    #menu-icon{
                        fill: $color_three;
                    }
                }

                &:hover{
                    background-color: $color_three;
                    color: $color_one;
                    svg{
                        #menu-icon{
                            fill: $color_one;
                        }
                    }
                }
            }
        }
    }

    div#menu{
        z-index: 1;
        top: 0;
        right: 0;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: $color_three;
        flex-wrap: wrap;
        max-width: 320px;
        display:grid;
        place-items: center;
        border-left: solid 1px $color_one;
        transition: all 0.4s ease-in-out;
        
        ul{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            li{ 
                margin: 4px 0;
                button{
                    @extend %button;
                    background-color: transparent;
                    color: $color_one;

                    &:hover{
                        background-color: $color_one;
                        color: $color_three;
                    }
                }

                button.profile{
                    background-color:white;
                    color: $color_one;
                    &:hover{
                        background-color: $color_one;
                        color: $color_three;
                    }
                }

                button.logout{
                    font-weight: bold;
                    border-color: $color_cinnabar;
                    background-color: $color_red_bg;
                    color: white;

                    &:hover{
                        color: $color_cinnabar;
                    }
                }
            }
        }

        button.quitBtn{
            @extend %button;
            background-color: transparent;
            color: $color_one;
            font-weight: bold;
            position: absolute;
            top: 10px;
            right: 10px;

            &:hover{
                background-color: $color_one;
                color: $color_three;
            }
        }
    }

    div#profile{
        z-index: 2;
        top: 0;
        left: 0;
        position: fixed;
        border-radius: 4px;
        width: 100%;
        height: 100vh;
        background-color: white;
        flex-wrap: wrap;
        display:grid;
        place-items: center;
        border-right: solid 1px $color_three;
        transition: all 0.4s ease-in-out;
        overflow-y: scroll;
        filter: drop-shadow(0 0 4px $color_two);

        h1, h2{
            font-size: 20px;
            padding: 8px;
            margin: 8px 0;
            color: white;
            background-color: $color_one;
            border-radius: 4px;
            width: 100%;
        }

        div.data{
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            padding: 4px;

            p.user-attributes{
                font-weight: bold;
                padding: 4px;
                border: solid 1px $color_one;
                border-radius: 4px;
                margin: 4px;
                flex-grow: 1;

                span{
                    font-weight: normal;
                }
            }

            div.endDetails{
                width: 100%;
                height: auto;
    
                div.endereco{
                    display: flex;
                    flex-direction: column;
    
                    div.box{
                        padding: 4px;
                        border: solid 1px $color_one;
                        border-radius: 4px;
                        margin: 4px;
                        flex-grow: 1;
    
                        p.end-text{
                            font-weight: bold;
                            width: 100%;
    
                            span{
                                margin-left: 8px;
                                font-weight: 400;
                            }
                        }
                    }
    
                    @media screen and (min-width: 425px){
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                }
            }

            div.organizer{
                margin: 16px 0;

                p.trocar_senha{
                    color: $color_one;
                    border-radius: 4px;
                    background-color: transparent;

                    button.trocar_senha-btn{
                        @extend %button;
                        background-color: transparent;

                        &:hover{
                            background-color: $color_one;
                            color: $color_three;
                        }
                    }
                }

                div#trocarSenha{
                    form#passChangeForm{
                        display: flex;
                        flex-direction: column;

                        input.input_pass{
                            @extend %basic-input;
                        }

                        button{
                            @extend %button;
                        }

                        @media screen and (min-width: 425px){
                            display: flex;
                            flex-direction: row;
                            align-items: baseline;
                            input.input_pass{
                                width: 100%;
                                margin-right: 8px;
                            }
                        }
                    }
                }
            }

            button.profileCloseBtn{
                @extend %button;
                background-color: white;
                border-color: black;
                color: black;
                font-weight: bold;
                position: absolute;
                top: 13px;
                right: 4px;

                &:hover{
                    background-color: $color_one;
                    color: white;
                }
            }
        }

        @media screen and (min-width: 425px){
            padding: 32px;

            div.data{
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }

        @media screen and (min-width: 768px){
            width: 90%;
            max-width: 100%;
            height: 70vh;
            top: calc(40vh - 25vh);
            left: calc(50vw - 45vw);
            padding: 32px;

            div.data{
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }
    }

    div.profile-open{
        transform: translateX(0);
    }

    div.profile-closed{
        transform: translateX(-100vw);
    }
    
    div.menu-fechado{
        transform: translateX(100vw);
    }
    
    div.menu-aberto{
        transform: translateX(0);
    }
}