@import './var';

%button{
    cursor: pointer;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid $color_one;
    transition: all 0.4s ease-in-out;
}

%basic-input{
    width: 100%;
    max-width: 320px;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid $color_one;
    margin-bottom: 4px;
    transition: all 0.4s ease-in-out;
    text-align: center;
}

%form-label{
    font-size: 14px;
    font-weight: 600;
    color: $color_one;
    margin-right: 8px;
}

%form-input{
    width: 100%;
    max-width: 320px;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid $color_one;
    margin-bottom: 4px;
    transition: all 0.4s ease-in-out;
    text-align: center;
}

%table-frame{
    position: relative;
    border-collapse: collapse;
    width: 100%;
    
    thead{
        width: 100%;
        height: 50px;
        tr{
            td{
                padding: 4px;
            }
        }
    }
    
    tbody{
        tr{
            cursor: pointer;
            td{
                padding: 4px;

                &:nth-child(1){
                    width: 10%;
                }

                &:nth-child(2){
                    width: 25%;
                }

                &:nth-child(3){
                    width: 25%;
                }

                &:last-child{
                    width: 10%;
                }
            }

            &:nth-child(odd){
                background-color: $color_one;
                color: white;
            }

            &:hover{
                background-color: $color_three;
                color: $color_one;
            }
        }
    }

}

%details{
    position: fixed;
    top: 0;
    height: 100vh;
    width:100%;
    border: 1px solid $color_one;
    padding: 4px;
    background-color: rgba(0,0,0,0.5);
    display: grid;
    place-items: center;

    div.modal{
        background-color: white;
        padding: 8px;
        border: 1px solid $color_one;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;

        header{}

        ul#attributeList{
            list-style: none;
            height: fit-content;
            width: 100%;
            max-width: 320px;
            li.box{
                p.colab-text{
                    font-weight: 600;
                    width: 100%;
                    text-align: center;
                    span{
                        font-weight: 400;
                    }
                    input.colab-input{
                        @extend %basic-input;
                    }
                }
            }
        }

        div.btnOrganizer{
            display: flex;
            justify-content: center;
            width: 100%;

            button{
                margin: 8px;
            }

            button.btnCloseModal{
                @extend %button;
                background-color: $color_one;
                color: white;
    
                &:hover{
                    background-color: transparent;
                    color: $color_one;
                }
            }
    
            button.btnEditColab{
                @extend %button;
                background-color: $color_one;
                color: white;
    
                &:hover{
                    background-color: transparent;
                    color: $color_one;
                }
            }

            button.btnEditSaveColab{
                @extend %button;
                background-color: transparent;
                border-color: $color_amazon;
                color: $color_amazon;
    
                &:hover{
                    background-color: $color_amazon;
                    color: white;
                }
            }
        }

    }
}