$color_base: #88daff;
$color_one: rgb(92, 116, 172);
$color_two: rgba(0,0,0,0.5);
$color_three: rgb(146, 221, 255);
$color_two_op_02: rgba(0,0,0,0.2);
$color_amazon: #357960;
$color_amazon_op_02: #35796070;
$color_cinnabar: #e53529;
$color_green_bg: #8cdcbf;
$color_red_bg: #dc8c8c;
$placeholder: rgba(92, 116, 172, 0.2);
$default_transition: all 0.4s ease-in-out;