@use '../../../scss/reset';
@import '../../../scss/var';
@import '../../../scss/basicElements';

section#colaboradores{
    height: fit-content;

    div.panel{
        @extend %panel;
    }

    div#colab-list{
        margin: 0 8px;
        border-radius: 4px;border: solid 1px $color_one;

        table{
            @extend %table-frame;
        }
    }

    div#colab-details{
        @extend %details;
    }

    div.colab-details-hidden{
        display: none !important;
    }
}