@use '../../scss/reset';
@import '../../scss/var';

section#loginScreen{
    div.loginScreen__container{
        background-color: $color_three;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @import './logo';
        @import './loginForm';
    
        p#api_version, p#app_version{
            text-align: center;
            color: $color_two;
            font-size: 12px;
        }

        div.feedbackMessageContainer{
            margin: 8px 0;
            p.feedbackMessage{
                text-align: center;
                color: $color_cinnabar;
                font-size: 12px;
                background-color: $color_red_bg;
                padding: 8px;
                font-family: sans-serif;
                font-weight: bold;
            }
        }
    }

}